@inject TodoVM TodoVM

<InputRadioGroup TValue="FilterBy" Value="TodoVM.FilterBy" ValueExpression="() => TodoVM.FilterBy" ValueChanged="value => TodoVM.UpdateFilterAsync(value)">
                <div class="btn-group" role="group">
                    <InputRadio Value="FilterBy.All" id="all" class="btn-check" />
                    <label class="btn btn-outline-primary" for="all">
                        <i class="bi bi-sunglasses"></i> All
                    </label>

                    <InputRadio Value="FilterBy.Completed" id="completed" class="btn-check" />
                    <label class="btn btn-outline-success" for="completed">
                        <i class="bi bi-check-circle-fill"></i> Completed
                    </label>

                    <InputRadio Value="FilterBy.Important" id="important" class="btn-check" />
                    <label class="btn btn-outline-warning" for="important">
                        <i class="bi bi-star-fill"></i> Important
                    </label>
                </div>
            </InputRadioGroup>
