@inject TodoVM TodoVM
@implements IHandleEvent

<button class="btn" @onclick="() => TodoVM.ToggleCompletionAsync(Value)">
    <i class="bi  @(Value.IsCompleted ? "bi-check-circle-fill text-success" : "bi-check-circle")"></i>
</button>

@code {

    [Parameter]
    public required Models.Todo Value { get; set; }

    // Omit StateHasChanged call to avoid rerendering on @onclick invocation.
    Task IHandleEvent.HandleEventAsync(EventCallbackWorkItem callback, object? arg) => callback.InvokeAsync(arg);
}
