@page "/"
@inject TodoVM TodoVM

<div class="d-flex flex-column justify-content-between p-3 vh-100">
    <header>
        <AppControlBar />
    </header>
    <main class="overflow-auto remove-scrollbar" style="outline: none">
        @if (TodoVM.Todos.Count() != 0)
        {
            <img src="img/sleep-emoji.png" class="h-50 mx-auto" />
        }
        else
        {
            <TodoList />
        }
    </main>
    <footer class="mt-3">
        @if (TodoVM.FilterBy == FilterBy.All)
        {
            <TodoForm />
        }
    </footer>
</div>
