<div class="d-flex justify-content-center justify-content-md-between align-items-center mb-3 gap-2 gap-md-0 flex-wrap">
    <div class="d-flex align-items-center flex-wrap col-auto">
        <GithubRepoLaunchButton />
        <LinkedinProfileLaunchButton />
        <AppTitle />
        <AppModeTogglerButton />
        <ThemeTogglerButton />
    </div>
    <div class="col-auto">
        <FilterByRadioButton />
    </div>
</div>