@implements IDisposable
@inject TodoVM TodoVM

@if (!TodoVM.Todos.Any())
{
    <div class="d-flex justify-content-center align-items-center" style="height: 100%;">
        <img src="img/sleep-emoji.png" class="h-50" />
    </div>
}
else
{
    <ol class="list-group list-group-flush">
        @foreach (var todo in TodoVM.Todos)
        {
            <TodoItem Value="todo" />
        }
    </ol>
}

@code {

    PropertyChangedEventHandler? _propertyChangedEventHandler;

    protected override async Task OnInitializedAsync()
    {
        _propertyChangedEventHandler = (_, _) => InvokeAsync(StateHasChanged);
        TodoVM.PropertyChanged += _propertyChangedEventHandler;
        await TodoVM.LoadTodosAsync();
        await base.OnInitializedAsync();
    }

    public void Dispose() 
    {
        if (_propertyChangedEventHandler is not null)
        {
            TodoVM.PropertyChanged -= _propertyChangedEventHandler;
        }
    }
}